@layer utilities {
  .prose {
    @apply space-y-base leading-8 text-gray-darker;

    blockquote {
      @apply border-l-2 pl-sm font-medium;
    }

    p {
      @apply break-words;
    }

    ul {
      @apply list-outside list-disc ml-lg;
    }
    ol {
      @apply list-outside list-decimal ml-lg;
    }

    h1,
    h2,
    h3,
    h4 {
      @apply font-display text-gray-dark;
      // Extra spacing above and below headings
      @apply pt-0.5 pb-0.5;
    }

    h1 {
      @apply text-3xl font-bold;
    }
    h2 {
      @apply text-2xl font-bold;
    }
    h3 {
      @apply text-xl font-semibold;
    }
    h4 {
      @apply text-lg font-medium;
    }

    /* Style all link anchors */
    h2 a::before,
    h3 a::before,
    h4 a::before {
      content: "#";
      @apply opacity-0 md:opacity-5;
    }
    h2 a,
    h3 a,
    h4 a {
      /* w-4/6 to allow clicking on the title to navigate to the hashed link */
      @apply absolute -mx-sm w-3/6;
    }

    // Code, not pre
    :not(pre) > code {
      @apply bg-gray-100 text-gray-700 text-sm;
      @apply p-0.5 rounded;
    }

    pre {
      @apply overflow-x-scroll text-sm py-md px-md rounded;
      // @apply bg-gray-800 text-gray-100;
      background-color: #1e293b;
      color: #f1f5f9;
    }

    table {
      @apply border-collapse border rounded-md;

      // Table cells
      th,
      td {
        @apply border p-1;
      }
    }
  }
}

.ProseMirror {
  // Full height text editor
  @apply h-full;
  @apply outline-none;
  @apply pb-2xl;
  @apply prose;
}

// Placeholder
.ProseMirror p.is-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  @apply text-gray-lighter;
  pointer-events: none;
  height: 0;
}
